/* .img2{
  width: 600px;
}
.h1{
  margin-left: 1000px;
  margin-top: -450px;
  font-size: 40px;
}
.h1-2{
   margin-left: 1000px;
   font-size: 40px;
   margin-top: -20px;
   color: #0796D6;
}
.h2{
   margin-left: 1000px;
    font-size: 30px;
       color: #0796D6;
}
.row{
  margin-left: 1000px;
     color: #0796D6;
     font-size: 60px;
     margin-top: -50px;
}
.p{
    margin-left: 1000px;
    margin-top: -40px;
    font-size: 20px;
}
.Message{
     margin-left: 1700px;
     margin-top: 20px;
     background-color: #0796D6;
     color: white;
     padding: 10px;
     border-radius: 20px;
     width: 150px;
     transition:1s ease-out;
     transform: 1s ease-out;
}
.Message:hover{
  transform: scale(1.1);
} */