/* .line1{
display: flex;
margin-left: 800px;
margin-top: 100px;
gap: 7px;
}
.line2{
    display: flex;
margin-left: 820px;
margin-top: -40px;
gap: 7px;
}
.dev{
    margin-left: 860px;
    margin-top: -20px;
    color: #1E9CD7;
}
.pro{
    color: #1E9CD7;
}
.our{
    color: #1E9CD7;
}
.img3{
    margin-left: 300px;
}
.ind{
    margin-left: 820px;
    font-size: 40px;
}
.work{
  margin-left: 840px;
    font-size: 40px;  
    margin-top: -20px; 
    color: #1E9CD7;
}
.p2{
    margin-top: -20px;
    margin-left: 730px; 
        font-size: 20px;
}
.p3{
        margin-left: 830px;
        margin-top: -20px;
        font-size: 20px;
}
.img4{
    margin-top: 20px;
} */