/* 

.box2 {
    background-color:#17181A;
    height: 760px;
    width: 420px;
    margin-left: 700px;
    margin-top: 100px;
    border-radius: 20px;
    padding-top: 100px;
}

.buttons7 {
    margin-left: 40px;
    display: flex;
    gap: 30px;
    margin-bottom: -20px;
    
}

.buttons8{
    margin-left: 40px;
    margin-top: 40px;
}

.dark2 {
    background-color:#303136;
    color: #005DB2;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
}

.sign3 {
    background-color:#303136;
    color: #005DB2;
    padding: 2px;
    width: 60px;
    border-radius: 10px;
}

.sign4 {
    width: 25px;
}

.sin2 {
    background-color: #303136;
    color: #005DB2;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
}

.tick2 {
    background-color:#303136;
    color: #005DB2;
    padding: 7px;
    width: 60px;
    border-radius: 10px;
}

.ac2 {
    background-color: #303136;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.delete3 {
    background-color: #303136;
    padding: 17px;
    width: 60px;
    border-radius: 10px;
    margin-left: 30px;
}

.delete4 {
    font-size: 20px;
}

.line2 {
    background-color:#005DB2;
    color: #339DFF;
    padding: 16px;
    width: 60px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.star2 {
    background-color: #005DB2;
    color: #339DFF;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 30px;
}

.buttons9 {
    margin-top: 20px;
    margin-left: 40px;
}

.seven2 {
    background-color:#303136;
    color: #339DFF;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.eight2 {
    background-color: #303136;
    color: #339DFF;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.nine2 {
    background-color: #303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.minus2 {
      background-color: #005DB2;
    color: #339DFF;
    padding: 16px;
    width: 60px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.buttons10 {
    margin-top:20px;
    margin-left: 40px;
}

.four2 {
    background-color:#303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.five2 {
    background-color: #303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.six2 {
    background-color:#303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}
.plus2{
          background-color: #005DB2;
    color: #339DFF;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    margin-left:272px;
    height: 100px;
    margin-top: -100px;
}

.buttons11 {
    margin-top: -30px;
    margin-left: 40px;
}

.one2 {
    background-color: #303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.two2 {
    background-color:#303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}
.three2{
      background-color: #303136;
    color: #339DFF;

    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;  
}
.equal2{
       background-color:#1991FF;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 32px;
    height: 100px;
    margin-top: -20px;
}
.buttons12{
       margin-top: 5px;
    margin-left: 40px;
}
.zero2{
        background-color:#303136;
    color: #339DFF;

    padding: 16px;
    width: 130px;
    border-radius: 10px;
    font-size: 25px; 
}
.dot2{
         background-color:#303136;
    color: #339DFF;

    padding: 13px;
    width: 60px;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 50px;  
} */