.nav2 {
    display: flex;
    justify-content: center;
    background-color: #9395D3;
    padding-top: 50px;
}

@media(max-width:768px) {
    .nav2 {
        padding-top: 20px;
    }
}

.box7 {
    background-color: white;
    height: 1000px;
    width: 500px;
    margin-left: 600px;
    margin-top: 30px;
    border: solid 1px;
}

@media(max-width:768px) {
    .box7 {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.arrow {
    height: 50px;
    margin-top: 10px;
    margin-left: -100px;
}

@media(max-width:768px) {
    .arrow {
        margin-left: 10px;
    }
}

.add {
    margin-right: 70px;
    color: white;
}

@media(max-width:768px) {
    .add {
        margin-right: 20px;
    }
}

.row {
    margin-left: 30px;
    margin-top: 50px;
}

@media(max-width:768px) {
    .row {
        margin-left: 20px;
    }
}

.row2 {
    margin-left: 30px;
    margin-top: 50px;
}

@media(max-width:768px) {
    .row2 {
        margin-left: 20px;
    }
}

.add2 {
    color: white;
    background-color: #9395D3;
    margin-left: 30px;
    margin-top: 50px;
    padding: 20px;
    width: 420px;
    border-radius: 10px;
    font-size: 20px;
}

@media(max-width:768px) {
    .add2 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:480px) {
    .add2 {
        font-size: 18px;
        padding: 15px;
    }
}

.input {
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 420px;
}

@media(max-width:768px) {
    .input {
        width: 90%;
    }
}

.input2 {
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 420px;
}

@media(max-width:768px) {
    .input2 {
        width: 90%;
    }
}