/* /* body{
     background-color: #ADD8FF;
} */

/* .box1 {
    background-color: #F7F8FB;
    height: 760px;
    width: 420px;
    margin-left: 700px;
    margin-top: 100px;
    border-radius: 20px;
    padding-top: 100px;
}

.buttons1 {
    margin-left: 40px;
    display: flex;
    gap: 30px;
    margin-bottom: -40px;
    
}

.buttons2 {
    margin-left: 40px;
    margin-top: 40px;
}

.dark {
    background-color: #F7F8FB;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
}

.sign {
    background-color: #F7F8FB;
    padding: 2px;
    width: 60px;
    border-radius: 10px;
}

.sign2 {
    width: 25px;
}

.sin {
    background-color: #F7F8FB;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
}

.tick {
    background-color: #F7F8FB;
    padding: 7px;
    width: 60px;
    border-radius: 10px;
}

.ac {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.delete {
    background-color: #F7F8FB;
    padding: 17px;
    width: 60px;
    border-radius: 10px;
    margin-left: 30px;
}

.delete2 {
    font-size: 20px;
}

.line {
    background-color: #ADD8FF;
    padding: 16px;
    width: 60px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.star {
    background-color: #ADD8FF;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 30px;
}

.buttons3 {
    margin-top: 20px;
    margin-left: 40px;
}

.seven {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.eight {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.nine {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.minus {
    background-color: #ADD8FF;
    padding: 16px;
    width: 60px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.buttons4 {
    margin-top:20px;
    margin-left: 40px;
}

.four {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.five {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.six {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}
.plus{
        background-color: #ADD8FF;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    margin-left:272px;
    height: 100px;
    margin-top: -100px;
}

.buttons5 {
    margin-top: -30px;
    margin-left: 40px;
}

.one {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.two {
    background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}
.three{
      background-color: #F7F8FB;
    padding: 18px;
    width: 60px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;  
}
.equal{
       background-color:#19ACFF;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 32px;
    height: 100px;
    margin-top: -20px;
}
.buttons6{
       margin-top: 5px;
    margin-left: 40px;
}
.zero{
        background-color: #F7F8FB;
    padding: 16px;
    width: 130px;
    border-radius: 10px;
    font-size: 25px; 
}
.dot{
         background-color: #F7F8FB;
    padding: 13px;
    width: 60px;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 50px;  
}  */