.digital{
    margin-left: 800px;
    color: #0796D6;
}
.The{
    margin-left: 300px;
    font-size: 20px;
}
.stand{
    margin-left: 800px;
    font-size: 20px;
    margin-top: -20px;
}
.our{
     margin-left: 860px;
    color: #0796D6;
}
.we{
     margin-left: 300px;
    font-size: 20px;
}
.a{
    margin-left: 400px;
    font-size: 20px; 
    margin-top: -20px; 
}
.mission{
     margin-left: 850px;
    color: #0796D6;
}
.partner{
     margin-left: 300px;
    font-size: 20px;
}
.each{
     margin-left: 880px;
    font-size: 20px;
    margin-top: -20px;
}
.domain{
    margin-left: 300px;
}