.box8{
       background-color:white;
    height: 1000px;
    width: 500px;
    margin-left: 600px;
    margin-top: 30px;
    border: solid 1px;
}
@media (max-width:600px){
    .box8{
        height: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}
@media (max-width:900px){
    .box8{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.nav3{
      display: flex;
    justify-content: center;
    background-color: #9395D3;
    padding-top: 50px;
}
@media (max-width:600px){
    .nav3{
        padding-top: 30px;
    }
}

.row3{
    margin-left: 30px;
    margin-top: 50px;
}
@media (max-width:600px){
    .row3{
        margin-left: 10px;
        margin-top: 30px;
    }
}

.row4{
        margin-left: 30px;
    margin-top: 50px;
}
@media (max-width:600px){
    .row4{
        margin-left: 10px;
        margin-top: 30px;
    }
}

.arrow2{
        height: 50px;
    margin-top: 10px;
    margin-left: -100px;
}
@media (max-width:600px){
    .arrow2{
        height: 40px;
        margin-left: -20px;
    }
}

.edit{
    margin-right: 70px;
    color: white;
}
@media (max-width:600px){
    .edit{
        margin-right: 20px;
    }
}

.buttons{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    gap: 220px;
}
@media (max-width:600px){
    .buttons{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
        gap: 20px;
        justify-content: space-between;
    }
}
@media (max-width:900px){
    .buttons{
        gap: 80px;
    }
}

.update{
    background-color: #9395D3;
    color: white;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
}
@media (max-width:600px){
    .update{
        width: 100%;
    }
}

.cancel{
        background-color: #9395D3;
    color: white;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
}
@media (max-width:600px){
    .cancel{
        width: 100%;
    }
}

.input3{
           margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 420px;
}
@media (max-width:600px){
    .input3{
        width: 90%;
    }
}
@media (max-width:900px){
    .input3{
        width: 95%;
    }
}

.input4{
           margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 420px;
}
@media (max-width:600px){
    .input4{
        width: 90%;
    }
}
@media (max-width:900px){
    .input4{
        width: 95%;
    }
}